<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted">Click the link for the documentation<a href="https://docs.google.com/document/d/1iAImetfa3GJTXf6-lwWPJY8doQLs1BweVpFJTZjEn9g/edit?tab=t.0" target="_blank"> GROUP 4</a></span>
    <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Copyright © 2024</span>
  </div>
</footer>
